:root {
    --border-radius: var(--small);
    --border-color: var(--gray-deep-2);
    --border-style: solid;
    --border-width: 1px;
    --border: var(--border-width) var(--border-style) var(--border-color);
}